In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
district_cases = pd.read_csv('../Data/New Data Sources/districts.csv')

In [6]:
## Missing values in the Dataset
print("Number of missing values:", sum(list(district_cases.isna().sum())))
(district_cases.isna().sum())

Number of missing values: 35949

Date             0
State            0
District         0
Confirmed        0
Recovered        0
Deceased         0
Migrated         0
Tested       35949
dtype: int64

In [27]:
district_cases.tail(20)

,Date,State,District,Confirmed,Recovered,Deceased,Migrated,Tested
60490,2020-07-28,West Bengal,Dakshin Dinajpur,1031,777,5,0,NaN
60491,2020-07-28,West Bengal,Darjeeling,1877,1259,19,0,NaN
60492,2020-07-28,West Bengal,Hooghly,2956,2029,56,0,NaN
60493,2020-07-28,West Bengal,Howrah,6927,4768,180,0,NaN
60494,2020-07-28,West Bengal,Jalpaiguri,1188,762,10,0,NaN
60495,2020-07-28,West Bengal,Jhargram,28,28,0,0,NaN
60496,2020-07-28,West Bengal,Kalimpong,82,63,1,0,NaN
60497,2020-07-28,West Bengal,Kolkata,18753,11891,696,0,NaN
60498,2020-07-28,West Bengal,Malda,2110,1746,10,0,NaN
60499,2020-07-28,West Bengal,Murshidabad,684,499,7,0,NaN
60500,2020-07-28,West Bengal,Nadia,874,570,9,0,NaN
60501,2020-07-28,West Bengal,North 24 Parganas,12901,7935,288,0,NaN
60502,2020-07-28,West Bengal,Other State,66,63,3,0,NaN
60503,2020-07-28,West Bengal,Paschim Bardhaman,706,351,8,0,NaN
60504,2020-07-28,West Bengal,Paschim Medinipur,1034,745,14,0,NaN
60505,2020-07-28,West Bengal,Purba Bardhaman,679,412,4,0,NaN
60506,2020-07-28,West Bengal,Purba Medinipur,1362,861,12,0,NaN
60507,2020-07-28,West Bengal,Purulia,192,122,0,0,NaN
60508,2020-07-28,West Bengal,South 24 Parganas,4560,3059,75,0,NaN
60509,2020-07-28,West Bengal,Uttar Dinajpur,941,591,6,0,NaN

### Columns in Dataset

In [8]:
columns = list(district_cases.columns)

In [11]:
states = list(district_cases['State'].unique())

In [15]:
district_counts = pd.Series(district_cases['State'].value_counts())

In [16]:
district_counts.head(10)

Uttar Pradesh     6888
Madhya Pradesh    4510
Tamil Nadu        3698
Bihar             3481
Rajasthan         3388
Maharashtra       3349
Gujarat           3152
Assam             2814
Karnataka         2712
Odisha            2548
Name: State, dtype: int64

## Preparing Statewise Data

In [23]:
x = district_cases.groupby('State')

In [25]:
x.get_group('Andhra Pradesh')

,Date,State,District,Confirmed,Recovered,Deceased,Migrated,Tested
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN
5,2020-04-26,Andhra Pradesh,Krishna,177,29,8,0,NaN
...,...,...,...,...,...,...,...,...
59809,2020-07-28,Andhra Pradesh,Srikakulam,4694,2602,62,0,140812.0
59810,2020-07-28,Andhra Pradesh,Visakhapatnam,7436,1726,81,0,123130.0
59811,2020-07-28,Andhra Pradesh,Vizianagaram,3329,1249,40,0,61678.0
59812,2020-07-28,Andhra Pradesh,West Godavari,8820,3491,88,0,111442.0
59813,2020-07-28,Andhra Pradesh,Y.S.R. Kadapa,5093,3154,32,0,109255.0